* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sidebar__btn {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #49a6e9;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

.sidebar__btn svg {
  width: 2rem;
  height: 3rem;
}

.sidebar {
  max-width: 400px;
  padding: 2rem;
}

.sidebar img {
  width: 100%;
}

.links__list {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.links__list a {
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #64748b;
}

.socials__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.socials__list a {
  color: #49a6e9;
  font-size: 3rem;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
